.board {
  position: relative;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.column {
  background-color: orange;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
.red-text {
  color: red;
}

.yellow-text {
  color: yellow;
}

.gameover-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #509dea;
  padding: 4rem;
  border-radius: 15px;
  font-size: 2rem;
}

.winner-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.gameover-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
