:root {
  --borderRadius-reg: 0.25rem;
  --text: #131002;
  --background: #fdfaee;
  --primary: #e4ab1e;
  --secondary: #88f1de;
  --accent: #509dea;
  --marker-red: #e41e1e;
  --marker-yellow: #f1ed88;
  --color-text: #131002;
}

.board {
  aspect-ratio: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.125rem;
  background-color: var(--accent);
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.column {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  background-color: var(--background);
  border-radius: 50%;
  overflow: hidden;
}

.column::before {
  content: '';
  display: block;
  padding-top: 100%;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.marker {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.red {
  background-color: var(--marker-red);
}

.yellow {
  background-color: var(--marker-yellow);
}

/* Added basic css for display, Dennis you are free to change styling */

.player-corner {
  position: absolute;
  background-color: #fcfbfb;
  color: black;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  min-width: 10rem;
  min-height: 2rem;
  text-align: center;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.highlight-red {
  background-color: red;
}

.highlight-yellow {
  background-color: yellow;
}
.red-text {
  color: red;
}

.yellow-text {
  color: yellow;
}

.gameover-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #509dea;
  padding: 4rem;
  border-radius: 15px;
  font-size: 2rem;
}

.winner-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.gameover-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.reset-btn {
  height: 2rem;
  border-radius: 1rem;
}
.newGame-btn {
  height: 2rem;
  border-radius: 1rem;
}
.reset-btn:hover {
  background-color: var(--background);
  border: 5px solid var(--text);
}

.newGame-btn:hover {
  background-color: var(--background);
  border: 5px solid var(--text);
}
